OPENAI_API_KEY=YOUR OPENAI KEY
DISCORD_TOKEN=YOUR DISCORD BOT TOKEN
LLM_ENDPOINT=https://api.openai.com/v1/chat/completions
LLM_MODEL=THE OPENAI CHAT MODEL NAME
GOOGLESEARCH_API_KEY=YOUR GOOGLE SEARCH API KEY
GOOGLESEARCH_CSE_ID=YOUR GOOGLE SEARCH CSI ID
YOUTUBE_API_KEY=YOUTUBE_DATA_API_KEY
FURAFFINITY_A_COOKIE=FURAFFINITY_A_COOKIE
FURAFFINITY_B_COOKIE=FURAFFINITY_B_COOKIE
